{% extends "layout.html" %}
{% block content %}
    {% for good in goods %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ good.producer }}</a>
              <small class="text-muted">{{ good.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ good.name }}</a></h2>
            <p class="article-content">{{ good.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
