{% extends "layout.html" %}
{% block content %}
    {% for good in goods %}
        <article class="media content-section">
            <img class="article-img"
                 src="{{ url_for('static', filename='good_pics/' + good.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ good.date_posted.strftime('%d-%m-%Y') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('good_one', good_id=good.id) }}">{{ good.name }}</a></h2>
              <p class="article-content">{{ good.producer }}</p>
              <p class="article-content">{{ good.description }}</p>
              <p class="article-content">{{ good.number_available }}</p>
              {% if current_user.is_authenticated %}
                {% if good.number_available > 0 %}
                    <a class="btn btn-outline-success" href="{{ url_for('good_one', good_id=good.id) }}">Buy</a>
                {% else %}
                    <a class="btn btn-outline-danger" href="{{ url_for('good_one', good_id=good.id) }}">Buy</a>
                    <p class="article-content">No available</p>
                {% endif %}
              {% else %}
                <p class="text-muted"><a href="{{ url_for('login') }}">Login</a> to buy goods!</p>
              {% endif %}
          </div>
        </article>
    {% endfor %}
{% endblock content %}
